.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    font-size: 30px;
}
button{
    font-size: 23px;
    background: red;
    width: 45px;
    height: 45px;
}